@import "./settings";

.react-datepicker {
    min-width: 100% !important;
    border-radius: 12px !important;
    border: none;
    box-shadow: $boxShadow;
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #000;
        display: inline-block;
        width: 5.7rem !important;
        line-height: 2.7rem !important;
        text-align: center;
        margin: 0.166rem;
    }
    .react-datepicker__month-container {
        height: 330px;
        float: none;
    }
    .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
        background: $tosca !important;
        color: white !important;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #999;
    }
    .react-datepicker__header {
        border-radius: 12px 12px 0 0;
        border-bottom: none;
        padding: 15px 0;
        .react-datepicker__current-month {
            color: $tosca;
        }
    }
    .react-datepicker__day--disabled {
        color: #ccc !important;
    }
    .react-datepicker__navigation--next {
        border-left-color: $tosca;
    }
    .react-datepicker__navigation--previous {
        border-right-color: $tosca;
    }
}

.ui.modal {
    &.tiny {
        padding: ($baseSize) ($baseSize * 1.5);
        border-radius: 10px !important;
        border: 3px solid $tosca !important;
        .actions {
            background: none !important;
            border-top: none !important;
        }
        .header {
            color: $tosca !important;
            border-bottom: none !important;
        }
        .content {
            color: #777 !important;
            padding-top: 0 !important;
        }
        .link-btn {
            color: #999 !important;
            &:hover {
                color: #999 !important;
            }
        }
    }
}



#outline {
    animation: .38s ease-in outline;
    transform: rotate(0deg);
    transform-origin: center;
  }
  
  #white-circle {
    animation: .35s ease-in .35s forwards circle;
    transform: none;
    transform-origin: center;
  }

  
  #check {
    animation: .34s cubic-bezier(0.65, 0, 1, 1) .8s forwards check; 
    stroke-dasharray: 0, $check-len;
  }
  
  #check-group {
    animation: .32s ease-in-out 1.03s check-group;
    transform-origin: center;
  }
  
  @keyframes outline {
      from { stroke-dasharray: 0, $circumf; }
      to { stroke-dasharray: $circumf, $circumf; }
  }
  
  @keyframes check-group {
      from { transform: scale(1); }
      50% { transform: scale(1.09); }
      to { transform: scale(1); }
  }
  
  @keyframes check {
      from { stroke-dasharray: 0, $check-len; }
      to { stroke-dasharray: $check-len, $check-len; }
  }
  
  @keyframes circle {
      from { transform: scale(1); }
      to { transform: scale(0); }
  }