@import "./settings";

.react-datepicker {
    min-width: 100% !important;
    border-radius: 12px !important;
    border: none;
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #000;
        display: inline-block;
        width: 5.7rem !important;
        line-height: 2.7rem !important;
        text-align: center;
        margin: 0.166rem;
    }
    .react-datepicker__month-container {
        height: 330px;
        float: none;
    }
    .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
        background: $tosca !important;
        color: white !important;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #999;
    }
    .react-datepicker__header {
        border-radius: 12px 12px 0 0;
        border-bottom: none;
        padding: 15px 0;
        .react-datepicker__current-month {
            color: $tosca;
        }
    }
    .react-datepicker__day--disabled {
        color: #ccc !important;
    }
}