@import "./settings";


@media screen and (max-width: 767px) {

    .row {
        &.mobile-reversed {
            flex-direction: column-reverse !important;
        }
    }

    .ui.form {
        &.main-form {
            > .container {
                margin-left: 0 !important;
            }
        }
    }

    .navigator {
        padding-left: 10px;
    }

    .column {
        .wizard-success {
            padding: $baseSize !important;
            padding-bottom: $baseSize * 1.5 !important;
        }
    }

    .sidebar {
        .next-page {
            margin-top: $baseSize * 3 !important;
            margin-bottom: $baseSize !important;
            text-align: center;
            .button {
                display: block !important;
                width: 100%;
            }
        }
    }

    .ui.grid {
        &.page-features {
            .tabbed-cards {
                .ui.menu {
                    overflow-x: scroll;
                }
            }
            .cards {
                .card-item {
                    width: 100% !important;
                }
            }
            .container {
                margin: 0 !important;
            }
        }
        &.home {
            .welcome {
                font-size: 4em !important;
            }
            .list {
                .item {
                    .image {
                        display: block !important;
                        margin: 0 auto !important;
                        margin-bottom: 8px !important;
                    }
                    .content {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .react-datepicker .react-datepicker__day-name, .react-datepicker .react-datepicker__day, .react-datepicker .react-datepicker__time-name {
        width: 2.7rem !important;
    }

    .appointment {
        .container {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }


}