@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900');
@import "./_settings.scss";
@import "./components";
@import "./responsive";


body {
    font-family: $fontfamily !important;
    // font-weight: 700;
    letter-spacing: 1px;
    color: white;
    background: $blueish;
}

span.tosca, .header.tosca {
    color: $tosca !important;
}

.main-logo {
    width: 88%;
    margin: 0 auto;
    padding-left: 10px;
    transition: all .3s ease;
    &:hover {
        .header {
            letter-spacing: 8px;
        }
    }
    .header {
        margin: 0;
        transition: all .3s ease;
    }
}

.mt3em {
    margin-top: 3em !important;
}

.mb2em {
    margin-bottom:  2em !important;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
    color: white !important;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
    border-color: $tosca !important;
    background: $tosca !important;
}

.ui.message {
    box-shadow: none !important;
}

.ui.button {
    &.btn-ccs {
        background: $toscagrad;
        padding: $baseSize + .2;
        color: white;
        transition: all .5s ease;
        &:hover {
            background: $toscagrad-reverse
        }
        // &:focus {
        //     background: transparent !important;
        // }
    }
    &.basic {
        color: white !important;
        box-shadow: white !important;
        &.link-btn {
            border: none !important;
            box-shadow: none !important;
            &:hover {
                background: transparent !important;
                text-decoration: underline;
                color: inherit;
            }
            &.no-hover {
                &:hover {
                    border: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontfamily !important;
    color: white;
}

.ui.header {
    color: white;
    &.heading {
        font-size: $baseSize * 4;
    }
}

.ui.grid {
    &.main-app {
        background-repeat: no-repeat;
        background-size: 450px;
        background-position: right bottom;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYxIiBoZWlnaHQ9Ijg0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgPGRlZnM+ICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iOS43ODElIiB5MT0iOS4zNTQlIiB4Mj0iODAuOTIyJSIgeTI9IjkyLjg4MSUiIGlkPSJhIj4gICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjQ0REOUU1IiBvZmZzZXQ9IjAlIi8+ICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0NERDlFNSIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjEwMCUiLz4gICAgPC9saW5lYXJHcmFkaWVudD4gIDwvZGVmcz4gIDxwYXRoIGQ9Ik05NjYuOTE0IDEyNkg3NzQuOTU3Yy0uNTcyLTExLjMxLjY3NC0yMy4wMzMgMy4wMzEtMzQuMTIxQzgwMS4wNi0xNi42NjEgODY4LjM1NSA4MC4zOTUgOTY2LjkxNCAxMjZ6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzc0IC00MikiIGZpbGw9InVybCgjYSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbC1vcGFjaXR5PSIuMzIiLz48L3N2Zz4=);
    }
    &.home {
        height: 100vh !important;
        > .column {
            position: relative;
            margin-top: -9em;
        }
        .container {
            margin-bottom: $baseSize * 5;
            .ui.header + p {
                margin-bottom: $baseSize * 3;
            }
        }
        .welcome {
            font-size: $baseSize * 8;
            line-height: 1;
        }
        .summary-home {
            .container {
                margin-bottom: $baseSize * 3;
            }
        }
    }
    &.page-features {
        padding-top: $baseSize * 2;
        .row {
            margin-bottom: $baseSize * 5 ;
        }
        .navigator {
            margin-bottom: $baseSize * 2;
        }
    }
}

.ui.form {
    &.main-form {
        label {
            color: white;
        }
        .error-text {
            color: $orangeish;
            position: relative;
            top: -10px;
            font-size: .8em;
        }
    } 
}

.ui.segment {
    &.main-segment {
        background: rgba(56, 40, 163, 0.34901960784313724);
        border-radius: 9px;
        border: none;
    }
}

.navigator {
    margin-bottom: $baseSize * 5;
    .link-btn {
        padding-left: 0 !important;
    }
}

.navigator-bottom {
    margin-top: $baseSize * 2;
    margin-bottom: $baseSize * 4;
    padding-top: $baseSize * 2;
    text-align: center;
}

.heading {
    margin-bottom: $baseSize * 4;
    .ui.header {
        margin-bottom: 0;
    }
}

.summary-home, .summary {
    .segment {
        .header {
            color: $tosca !important;
        }
    }
    .list {
        .content {
            color: #ddd !important;
            text-align: left;
        }
    }
}

.ui.card {
    &.card-item {
        padding: 15px;
        border-radius: 12px;
        box-shadow: $boxShadow;
        cursor: pointer;
        transition: all .1s ease;
        &.selected {
            background: rgba(41, 36, 70, 0.47) !important;
            transform: translateY(-2px) !important;
            box-shadow: none !important;
            transition: all .3s ease;
            .header {
                color: $tosca !important;
                &::before {
                    content: '✔';
                    margin-right: 6px;
                    color: orange;
                }
            }
            .description, .meta {
                color: #eee !important;
            }
        }
        &.no-click {
            cursor: initial !important;
            &:hover {
                opacity: initial;
            }
            &:active {
                transform: none !important;
            }
        }
        .header {
            margin-bottom: .4em !important;
            line-height: 1.1em !important;
        }
        &:hover {
            opacity: .8;
            transform: translateY(-2px) !important;
            box-shadow: none !important;
        }
        &:active {
            transform: translateY(4px) !important;
        }
    }
}

.sidebar {
    padding-top: $baseSize * 4;
    .ui.list.selected-list {
        margin-bottom: $baseSize * 2;
        .content {
            .header {
                color: $tosca !important;
                margin-bottom: .5em;
            }
            .description {
                color: white !important;
                margin-bottom: .5em !important;
                p {
                    padding: ($baseSize - .5) 0 !important;
                }
            }
        }
    }
    .ui.header {
        margin-bottom: $baseSize * 2;
    }
    .next-page {
        margin-top: $baseSize * 7;
        p {
            font-size: .9em;
            margin-bottom: 0 !important;
        }
    }
}

.tabbed-cards {
    .ui.segment {
        background: $blueish !important;
        border: none;
        box-shadow: none;
        padding-left: 0;
    }
    .ui.menu {
        .item {
            color: rgba($color: #000000, $alpha: .3);
            &.active {
                background: $tosca;
                color: white;
            }
            &:hover {
                color: rgba($color: white, $alpha: .5) !important;
            }
        }
    }
}

.column{
    &.summary {
        .total-general {
            margin-top: $baseSize * 4 !important;
            margin-bottom: $baseSize * 4 !important;
            p {
                margin-top: $baseSize * 3;
                margin-bottom: $baseSize;
            }
        }
        .main-segment {
            margin-bottom: $baseSize * 3 !important;
            padding-bottom: $baseSize * 2 !important;
            .ui.label {
                left: 8.65% !important;
                border-color: orange !important;
                background: $tosca !important;
                box-shadow: 1px 4px 7px rgba(0, 0, 0, .08);
                .icon {
                    color: rgba($color: $blueish, $alpha: .9) !important;
                }
            }
            .ui.grid {
                .column:last-child {
                    padding-left: $baseSize * 2;
                    border-left: 1px solid rgba($color: black, $alpha: .1);
                }
            }
            .cart-card {
                .card {
                    background: transparent !important;
                    border: none;
                    box-shadow: none !important;
                }
            }
        }
    }
    .wizard-success {
        text-align: center !important;
        padding-bottom: $baseSize * 3 !important;
        border: 3px solid $tosca;
        border-radius: 10px !important;
        .container {
            p {
                line-height: 1.6;
                color: #777 !important;
            }
        }
    }
}